@model Escape.Data.Model.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <table id="Product_table" class="details table-striped table-condensed table-bordered">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Title)</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ShortDescription)</td>
                <td>@Html.DisplayFor(model => model.ShortDescription)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LongDescription)</td>
                <td>@Html.DisplayFor(model => model.LongDescription)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.Thumbnailfolder)</td>
                <td>@Html.DisplayFor(model => model.Thumbnailfolder)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.Price)</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.Discount)</td>
                <td>@Html.DisplayFor(model => model.Discount)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.ArticleNumber)</td>
                <td>@Html.DisplayFor(model => model.ArticleNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.VideoSampleURL)</td>
                <td>@Html.DisplayFor(model => model.VideoSampleURL)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.SafetyTags)</td>
                <td>@Html.DisplayFor(model => model.SafetyTags)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.RelatedTags)</td>
                <td>@Html.DisplayFor(model => model.RelatedTags)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ProductSpecificationId)</td>
                <td>@Html.DisplayFor(model => model.ProductSpecificationId)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.ImageFileName)</td>
                <td>@Html.DisplayFor(model => model.ImageFileName)</td>
            </tr>
        </table>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
