@model EscapeMobility.Web.Models.ProductsAdminDetailsViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div>
        <h4>Product</h4>
        <hr />
        <table id="Product_table" class="details table-striped table-condensed table-bordered">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.Title)</td>
                <td>@Html.DisplayFor(model => model.Product.Title)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.ShortDescription)</td>
                <td>@Html.DisplayFor(model => model.Product.ShortDescription)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.LongDescription)</td>
                <td>@Html.DisplayFor(model => model.Product.LongDescription)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.Product.Thumbnailfolder)</td>
                <td>@Html.DisplayFor(model => model.Product.Thumbnailfolder)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.Price)</td>
                <td>@Html.DisplayFor(model => model.Product.Price)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.Product.Discount)</td>
                <td>@Html.DisplayFor(model => model.Product.Discount)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.ArticleNumber)</td>
                <td>@Html.DisplayFor(model => model.Product.ArticleNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.VideoSampleURL)</td>
                <td>@Html.DisplayFor(model => model.Product.VideoSampleURL)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.Product.SafetyTags)</td>
                <td>@Html.DisplayFor(model => model.Product.SafetyTags)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.RelatedTags)</td>
                <td>@Html.DisplayFor(model => model.Product.RelatedTags)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.ProductSpecificationId)</td>
                <td>@Html.DisplayFor(model => model.Product.ProductSpecificationId)</td>
            </tr>*@
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.ImageFileName)</td>
                <td>@Html.DisplayFor(model => model.Product.ImageFileName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.SelectedCategories)</td>
                <td>@Html.Raw(Model.SelectedCategories[Model.Product.ProductId])</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.EvacuationType)</td>
                <td>@Html.DisplayFor(model => model.Product.EvacuationType)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.SafetyType)</td>
                <td>@Html.DisplayFor(model => model.Product.SafetyType)</td>
            </tr>
        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
