@model EscapeMobility.Web.Models.ProductsAdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<hr/>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="Product_table" class="table table-striped table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.LongDescription)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Thumbnailfolder)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Product.ArticleNumber)
            </th>
            <th></th>
            <th></th>
        </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td class="tbl-longdescription">
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNumber)
            </td>
            <td>
                <table class="table table-striped table-condensed">
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.VideoSampleURL)</td>
                        <td>@Html.DisplayFor(modelItem => item.VideoSampleURL)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.Accessories)</td>
                        <td>@Html.Raw(item.IsAccessory ? "<i class=\"fa fa-check-square-o\"></i>" : "<i class=\"fa fa-square-o\"></i>")</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.Categories)</td>
                        <td>@Html.Raw(Model.SelectedCategories[item.ProductId])</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.ImageFileName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImageFileName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.EvacuationType)</td>
                        <td>@Html.DisplayFor(modelItem => item.EvacuationType)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Product.SafetyType)</td>
                        <td>@Html.DisplayFor(modelItem => item.SafetyType)</td>
                    </tr>
                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>