@model EscapeMobility.Web.Models.ContactFormViewModel
************************************************************************<br />
FROM ESCAPE-MOBILITY-USA.COM<br />
************************************************************************<br />

@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)<br />
@Model.Phone<br />
@Model.Address1<br />
@(string.IsNullOrEmpty(Model.Address2) ? Model.Address2 + "<br />" : "")
@Model.City<br />
@Model.State<br />
@Model.Zip<br />
@Model.Email<br />
@Model.Company<br /><br />

Comments:<br />
<p>
    @Model.Comments
</p>