@model EscapeMobility.Web.Models.ProductSpecificationsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Condo/Apartments", MVC.CondoApartment.Index(), null)
        @ViewBag.Title
    </div>
}
@section pagescripts
{
    <script src="~/Scripts/lib/angular/angular.min.js"></script>
    <script src="~/Scripts/lib/angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/app/productdetail.1008085047.js"></script>
    <script src="~/Scripts/app/ProductSpecsMod.js"></script>
    <script type="text/javascript" language="javascript">
        var pageJsonObj = @Html.Raw(Model.json + ";")
    </script>
}
@section pagecss
{
    <link href="~/Content/styles/app/productdetail.0625152100.css" rel="stylesheet" />
}
<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-currentname="escape-chair" data-curbranche="all-products" data-division="evacuation" ng-app="ProductSpecsMod" ng-controller="ProdSpecsCtrl">
    @*<div class="navigationHolder">


            <div class="prodNav">
                <a class="prodNavPrev disabled"><img src="/Content/images/spacer.png" alt=""></a>
                <a class="prodNavNext " href="/product/all-products/evacuation/escape-chair/escape-chair-standard-alu-with-extra-package.aspx" title="onbekend (Volgende item) - Escape-Chair® Standard-ALU with extra package"><img src="/Content/images/spacer.png" alt="onbekend (Volgende item) - Escape-Chair® Standard-ALU with extra package"></a>
            </div>

            <div class="prodNavBack">
                <a class="navButton" href="/products/all-products/evacuation/escape-chair.aspx"><span>Return to: @ViewBag.ProductTitle</span></a>
            </div>

        </div>*@
    <h1 class="pageTitle">@Model.Title</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>
    <div id="productInfo">
        <div id="piImage">
            <img class="prodImage" src="/Content/images/@Model.ImageFileName">


            <div id="piThumbs">
                <div class="scrollerLeft disabled"></div>
                <div class="scroller">
                    <div class="subContent" rel="scPhotoalbum" style="width: 81px;"><a class="fotoalbum" rel="photoAlbum" href="/Content/images/@Model.ImageFileName" data-pos="0"><img src="/Content/images/@Model.ImageFileName"></a></div>
                </div>
                <div class="scrollerRight disabled"></div>
            </div>

        </div>
        <p>
            @Model.LongDescription<br><br><i>Article Number: @Model.ArticleNumber</i>
        </p>
        <div id="priceBlock">


            <div id="piPrice" class="productdetail">
                <div class="price">$@Model.Price</div>
            </div>
            <div id="piPriceVAT">excl. Tax</div>
            <a href="#" class="addToQuote contentButton  addToBasket" data-productid="@Model.ProductId">Add to Quote</a>


        </div>

        <div id="piChoices">


        </div>

        <div id="piButtons">

            @*<a class="piButton" target="_blank" href="/Content/images/escape-chair-standard-alu-print.aspx">
                    <span class="piButtonIcon print"></span>Print
                </a>
                <a href="/images/upload/comparison table 13_us.pdf" target="_blank" class="piButton">
                    <span class="piButtonIcon download"></span>Download Comparison table
                </a>*@
        </div>
    </div>
    <div class="clear"></div>

    <div id="contentNav">
        <ul>

            <li class="navItem">
                <a href="#" rel="scDescription" class="active">Description</a>
            </li>

            <li class="navItem">
                <a href="#" rel="scSpecs">Specifications</a>
            </li>

            @*<li class="navItem">
                    <a href="#" rel="scAccessoires">Accessories</a>
                </li>*@

            <li>
                <span>&nbsp;</span>
            </li>
        </ul>
    </div>

    <div class="subContent" rel="scDescription" style="display: block;">
        <div style="WIDTH: 330px; FLOAT: left; MARGIN-RIGHT: 10px" ng-bind-html="specs.description">
        </div>
        <div style="WIDTH: 350px; FLOAT: left">
            <iframe style="MARGIN-BOTTOM: 10px; FLOAT: right" height="194" src="http://www.youtube.com/embed/Ji9_0ceqSXY?rel=0&amp;showinfo=0&amp;wmode=transparent" frameborder="0" width="344" allowfullscreen=""></iframe><br>
            <iframe style="MARGIN-BOTTOM: 10px; FLOAT: right" height="258" src="http://www.youtube.com/embed/315LMt5lF_E?rel=0&amp;showinfo=0&amp;wmode=transparent" frameborder="0" width="344" allowfullscreen=""></iframe>
        </div>
        <div class="clear"></div>
    </div>

    <div class="subContent" rel="scSpecs" style="display: none;">
        <h2>Specifications - @Model.Title</h2>
        <div id="specsList" ng-repeat="row in specs.rows">
            <div class="row" ng-class-odd="'slRow'" ng-class-even="'slRowEven'">
                <div class="col-md-4">{{row.key}}</div>
                <div class="col-md-5 col-md-offset-1">{{row.value}}</div>
            </div>
        </div>

    </div>

    @*<div class="subContent" rel="scAccessoires" style="display: none;">
            <h2>Accessories</h2>
            <a class="scAccessoire" href="/product/all-products/safety/smokehood/ievac-smoke-fire-hood-ebp-900.aspx?fromproduct=true">
                <img src="/images/product/264/small/{name_seo}.jpg">
                <b>iEvac Smoke/Fire Hood EBP-900</b>
                <br>
                Smokehood. Purifying respiratory device to assist in breathing clean air for immediate evacuation in case of an emergency.
                <div class="price">$ 149.95<span class="VAT">excl. Tax</span></div>
            </a>
            @foreach (var item in Model.ProductHighlights)
            {
                Html.RenderPartial("_ProductHighlight", item);
            }
        </div>*@



    <div class="clear"></div>
</div>




