<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/admincss")
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
    <!-- Page Related Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("pagescripts", false)
</body>
</html>
