@using EscapeMobility.WebUtilities.HtmlHelperExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Escape Mobility USA</title>
    <link href="~/Content/styles/app/masterpage.1015101830.css" type="text/css" rel="stylesheet">
    <link href="~/Content/styles/lib/simple-modal/simple-modal-basic.css" rel="stylesheet" />
    <link href="~/Content/styles/lib/font-awesome/font-awesome.css" rel="stylesheet" />
    @RenderSection("pagecss", false)
</head>
<body>
    <span id="ctl00_LoginControl1"><!-- CustomerId: 232 --></span>

    <span id="ctl00_RedirectJCL"></span>
    <div id="topGlow"></div>
    @Html.ActionLink(" ", MVC.Home.Index(), new { id = "beeldmerk" })
    <div id="container" data-language="american" class="american">
        <div id="header">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
        </div>
        <div id="content">
            @Html.Partial("~/Views/Shared/_MainNav.cshtml")
            @RenderSection("pagebreadcrumbs", false)
            @RenderBody()
        </div>
    </div>
    <div id="contentFooterBg">
        <div id="footerGlow"></div>
        <div id="footerContainer">
            <div id="footerContact">
               @*<div class="subFooterDivider"></div>
        <a class="fcBlock fcPhone">
            <div class="fcbTitle">
                Call me back
            </div>
            <div class="fcbText">

            </div>
        </a>
        <div class="subFooterDivider"></div>
        <a href="http://www.escape-mobility-usa.com/information/service/contact.aspx" class="fcBlock fcMail">
            <div class="fcbTitle">Contact</div>
            <div class="fcbText"></div>
        </a>
        <div class="subFooterDivider"></div>*@

    </div>
            @Html.Partial("~/Views/Shared/_FooterMenu.cshtml")
        </div>
    </div>
    <div id="pageFooter">
        <div id="pageFooterContainer">
            <div id="pfcLeft">
                Copyright ©2014 Escape Mobility Company

            </div>
        </div>
    </div>
    <!-- Page Related Scripts -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/main")
    <script src="~/Scripts/lib/simplemodal/jquery.simplemodal.js"></script>
    <script language="javascript">
        /// <autosync enabled="true" />
        /// <reference path="jquery-2.1.1.js" />
        var QuoteObj = (function($) {
            var sessionItemCount = @Html.Raw(Session["ItemCount"] ?? 0);
            var AddToQuote = function(prodId) {
                var request = $.ajax({
                    url: "/Quote/AddToQuote",
                    type: "GET",
                    data: { id: prodId },
                    dataType: "html",
                    contentType: "application/json; charset=utf-8"
                });

                request.done(function (msg) {
                    $.modal(msg, { closeClass: "fancybox-close" });
                    $.getJSON("/Quote/GetItemCount", function(data) {
                        $(".item-count").text(data.Count);
                    });
                });

                request.fail(function(jqXHR, textStatus) {
                    alert("Quote Request failed: " + textStatus);
                });
            };

            return {
                AddToQuote: AddToQuote,
                sessionItemCount: sessionItemCount
            };
        })(jQuery);

        $(function () {
            $(".addToQuote").each(function () {
                $(this).on("click", function (event) {
                    event.preventDefault();
                    QuoteObj.AddToQuote($(this).data("productid"));
                });
            });

            $(".item-count").text(QuoteObj.sessionItemCount);
        });
    </script>
        @RenderSection("pagescripts", false)
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-50047524-1', 'escape-mobility.net');
            ga('send', 'pageview');

        </script>
</body>
</html>
