@using EscapeMobility.WebUtilities.HtmlHelperExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Escape Mobility USA</title>
    <link href="~/Content/styles/app/masterpage.1015101830.css" type="text/css" rel="stylesheet">
    <link href="~/Content/styles/app/jquery.fancybox-1.3.4.0219160601.css" type="text/css" rel="stylesheet">
    <link href="~/Content/styles/lib/simple-modal/simple-modal-basic.css" rel="stylesheet" />
    @RenderSection("pagecss", false)
</head>
<body>
    <span id="ctl00_LoginControl1"><!-- CustomerId: 232 --></span>

    <span id="ctl00_RedirectJCL"></span>
    <div id="topGlow"></div>
    @Html.ActionLink(" ", MVC.Home.Index(), new { id = "beeldmerk" })
    <div id="container" data-language="american" class="american">
        <div id="header">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
        </div>
        <div id="content">
            @Html.Partial("~/Views/Shared/_MainNav.cshtml")
            @RenderSection("pagebreadcrumbs", false)
            @RenderBody()
        </div>
    </div>
    <div id="contentFooterBg">
        <div id="footerGlow"></div>
        <div id="footerContainer">
            <div id="footerContact">
                <div class="subFooterDivider"></div>
                <a class="fcBlock fcPhone">
                    <div class="fcbTitle">
                        Call me back
                    </div>
                    <div class="fcbText">

                    </div>
                </a>
                <div class="subFooterDivider"></div>
                <a href="http://www.escape-mobility-usa.com/information/service/contact.aspx" class="fcBlock fcMail">
                    <div class="fcbTitle">Contact</div>
                    <div class="fcbText"></div>
                </a>
                <div class="subFooterDivider"></div>

            </div>
            @Html.Partial("~/Views/Shared/_FooterMenu.cshtml")
        </div>
    </div>
    <div id="pageFooter">
        <div id="pageFooterContainer">
            <div id="pfcLeft">
                Copyright ©2014 Escape Mobility Company

            </div>
        </div>
    </div>
    <!-- Page Related Scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/lib/simplemodal/jquery.simplemodal.js"></script>
    <script language="javascript">
        /// <autosync enabled="true" />
        /// <reference path="jquery-2.1.1.js" />
        var QuoteObj = (function($) {
            var AddToQuote = function(prodId) {
                var request = $.ajax({
                    url: "/Quote/AddToQuote",
                    type: "GET",
                    data: { id: prodId },
                    dataType: "html",
                    contentType: "application/json; charset=utf-8"
                });

                request.done(function (msg) {
                    $.modal(msg, { closeClass: "fancybox-close" });
                    //$.modal("<div id='fancybox-wrap' style='width: 724px; height: auto; top: 20px; left: 298px; display: block;'><div id='fancybox-outer'><div class='fancybox-bg' id='fancybox-bg-n'></div><div class='fancybox-bg' id='fancybox-bg-ne'></div><div class='fancybox-bg' id='fancybox-bg-e'></div><div class='fancybox-bg' id='fancybox-bg-se'></div><div class='fancybox-bg' id='fancybox-bg-s'></div><div class='fancybox-bg' id='fancybox-bg-sw'></div><div class='fancybox-bg' id='fancybox-bg-w'></div><div class='fancybox-bg' id='fancybox-bg-nw'></div><div id='fancybox-content' style='border-width: 10px; width: 704px; height: auto;'><div style='width:auto;height:auto;overflow: auto;position:relative;'><div id='productPopup' class='addToBasketPopup'><div>  <div class='popTitle'>Added to your quotation</div>  <div class='popupProdImg'>    <img src='/images/product/53/list/escape-mattress-fold.jpg' alt='' title=''>  </div>  <div class='popupProdTxt'>    <div class='ppName'>Escape-Mattress® Fold</div>    <div class='ppTxt'>                                             This&nbsp;Escape-Mattress® model can be folded double so that it is easy to move and store.                                         </div>    <div class='ppPrice'>                                             $ 1.245,00                                             <div class='piPriceVAT'>excl. Tax</div></div>  </div>  <div class='clear'></div>  <div>    <div class='popTitle popTitleBorder'>                                             Add accessories?                                         </div>    <div class='ppsArrow ppsArrowLeft'></div>    <div class='ppSliderHolder'>      <div class='ppSlider'>                                                 <div class='ppsProd' data-pos='0'>  <div class='ppsAdded'>Added</div>  <div class='ppsProdImg'>    <img src='/images/product/38/small/{name_seo}.jpg'>  </div>  <div class='ppsProdTxt'>                                    Escape-Locker                                </div>  <a class='contentButton ppsProdAdd' data-block='true' data-pid='38' data-language='american'>Add</a>  <div class='ppsProdPrice'>$ 520,00<div class='piPriceVAT'>excl. Tax</div></div></div><div class='ppsProd' data-pos='1'>  <div class='ppsAdded'>Added</div>  <div class='ppsProdImg'>    <img src='/images/product/49/small/{name_seo}.jpg'>  </div>  <div class='ppsProdTxt'>                                    Escape-Mattress® storage bag                                </div>  <a class='contentButton ppsProdAdd' data-block='true' data-pid='49' data-language='american'>Add</a>  <div class='ppsProdPrice'>$ 360,00<div class='piPriceVAT'>excl. Tax</div></div></div>                                             </div>    </div>    <div class='ppsArrow ppsArrowRight'></div>    <div class='clear'></div>  </div>  <div class='shopMore'>Continue</div>  <div class='endShopping'>Go to basket</div>  <div class='clear'></div></div></div></div></div><a id='fancybox-close' style='display: inline;'></a><div id='fancybox-title' style='display: none;'></div><a href='javascript:;' id='fancybox-left'><span class='fancy-ico' id='fancybox-left-ico'></span></a><a href='javascript:;' id='fancybox-right'><span class='fancy-ico' id='fancybox-right-ico'></span></a></div></div");
                });

                request.fail(function(jqXHR, textStatus) {
                    alert("Quote Request failed: " + textStatus);
                });
            };

            return {
                AddToQuote: AddToQuote
            };
        })(jQuery);

        $(function () {
            $(".addToQuote").each(function () {
                $(this).on("click", function (event) {
                    event.preventDefault();
                    QuoteObj.AddToQuote($(this).data("productid"));
                });
            });
        });
    </script>
    @RenderSection("pagescripts", false)
    @RenderSection("googleanalytics", false)
</body>
</html>
