

@{
    string ControllerName = ViewContext.RouteData.Values["Controller"].ToString();
}
<ul id="mainNav">
    <li class="navItem first">
        @Html.ActionLink("Home", MVC.Home.Index(), new { @class = ControllerName.Equals("Home") ? "active" : "" })
    </li>
    <li class="navItem">@Html.ActionLink("All Products", MVC.AllProducts.Index(), new { @class = ControllerName.Equals("AllProducts") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Healthcare", MVC.HealthCare.Index(), new { @class = ControllerName.Equals("HealthCare") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Condo/Apartments", MVC.CondoApartment.Index(), new { @class = ControllerName.Equals("CondoApartment") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Office Buildings", MVC.OfficeBuildings.Index(), new { @class = ControllerName.Equals("OfficeBuildings") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Education", MVC.Education.Index(), new { @class = ControllerName.Equals("Education") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Emergency Services", MVC.EmergencyServices.Index(), new { @class = ControllerName.Equals("EmergencyServices") ? "active" : "" })</li>
    <li class="navItem">@Html.ActionLink("Industry", MVC.Industry.Index(), new { @class = ControllerName.Equals("Industry") ? "active" : "" })</li>
</ul>
