
<ul id="mainNav">
    <li class="navItem first">
        @Html.ActionLink("Home", MVC.Home.Index(), new {@class="active"})
    </li>
    <li class="navItem">@Html.ActionLink("All Products", MVC.AllProducts.Index(), new {data_curbrance="all-products"})</li>
    <li class="navItem">@Html.ActionLink("Healthcare", MVC.HealthCare.Index(), new { data_curbrance = "healthcare" })</li>
    <li class="navItem">@Html.ActionLink("Office Buildings", MVC.OfficeBuildings.Index(), new { data_curbrance = "office-buildings" })</li>
    <li class="navItem">@Html.ActionLink("Education", MVC.Education.Index(), new { data_curbrance = "education" })</li>
    <li class="navItem">@Html.ActionLink("Emergency Services", MVC.EmergencyServices.Index(), new { data_curbrance = "emergency-services" })</li>
    <li class="navItem last">@Html.ActionLink("Industry", MVC.Industry.Index(), new { data_curbrance = "industry" })</li>
</ul>
