@model Escape.Data.Model.ProductSpecification

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductSpecification</h4>
    <hr />
    <table id="Product_table" class="details table-striped table-condensed table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Product.Title)</td>
            <td>@Html.DisplayFor(model => model.Product.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProductSpecificationID)</td>
            <td>@Html.DisplayFor(model => model.ProductSpecificationID)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IsSpecificationOn)</td>
            <td>@Html.DisplayFor(model => model.IsSpecificationOn)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Material)</td>
            <td>@Html.DisplayFor(model => model.Material)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IsEasyToOperate)</td>
            <td>@Html.DisplayFor(model => model.IsEasyToOperate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IsReadyForUse)</td>
            <td>@Html.DisplayFor(model => model.IsReadyForUse)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasUnfoldingStand)</td>
            <td>@Html.DisplayFor(model => model.HasUnfoldingStand)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasErgonomicBackrest)</td>
            <td>@Html.DisplayFor(model => model.HasErgonomicBackrest)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasGlidingBeltSystem)</td>
            <td>@Html.DisplayFor(model => model.HasGlidingBeltSystem)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasDustCover)</td>
            <td>@Html.DisplayFor(model => model.HasDustCover)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasAniSlipHandle)</td>
            <td>@Html.DisplayFor(model => model.HasAniSlipHandle)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MaxCarryingCapacity)</td>
            <td>@Html.DisplayFor(model => model.MaxCarryingCapacity)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MaxAngleOfStairs)</td>
            <td>@Html.DisplayFor(model => model.MaxAngleOfStairs)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OperatingHandle)</td>
            <td>@Html.DisplayFor(model => model.OperatingHandle)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Seat)</td>
            <td>@Html.DisplayFor(model => model.Seat)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Backrest)</td>
            <td>@Html.DisplayFor(model => model.Backrest)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Footrest)</td>
            <td>@Html.DisplayFor(model => model.Footrest)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Armrest)</td>
            <td>@Html.DisplayFor(model => model.Armrest)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasImmobilizationBand)</td>
            <td>@Html.DisplayFor(model => model.HasImmobilizationBand)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HasPaddedHeadrest)</td>
            <td>@Html.DisplayFor(model => model.HasPaddedHeadrest)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DimentionsFoldedUp)</td>
            <td>@Html.DisplayFor(model => model.DimentionsFoldedUp)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Waranty)</td>
            <td>@Html.DisplayFor(model => model.Waranty)</td>
        </tr>
    </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</div>
