@model IEnumerable<Escape.Data.Model.ProductSpecification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<hr/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Product_table" class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSpecificationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSpecificationOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEasyToOperate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReadyForUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasUnfoldingStand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasErgonomicBackrest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasGlidingBeltSystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasDustCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasAniSlipHandle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCarryingCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAngleOfStairs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatingHandle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Backrest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Footrest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Armrest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasImmobilizationBand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPaddedHeadrest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimentionsFoldedUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waranty)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSpecificationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSpecificationOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEasyToOperate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadyForUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasUnfoldingStand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasErgonomicBackrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGlidingBeltSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasDustCover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAniSlipHandle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCarryingCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAngleOfStairs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingHandle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Footrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Armrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasImmobilizationBand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPaddedHeadrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimentionsFoldedUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waranty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
