
<ul>
    <li>
        @Html.ActionLink("Information", MVC.Information.Index(), new {data_item="information"})
        <ul>
            <li class="" data-page="company-info">
                @Html.ActionLink("Company Information", MVC.Information.CompanyInfo(), null)
            </li>
            <li class="" data-page="innovation">
                @Html.ActionLink("Innovation", MVC.Information.Innovation(), null)
            </li>
            <li class="" data-page="references">
                @Html.ActionLink("References", MVC.Information.References(), null)
            </li>
            <li class="" data-page="events">
                @Html.ActionLink("Events", MVC.Information.Events(), null)
            </li>
            <li class="" data-page="history">
                @Html.ActionLink("History", MVC.Information.History(), null)
            </li>
            <li class="" data-page="brochures">
                @Html.ActionLink("Brochures", MVC.Information.Brochures(), null)
            </li>
            <li class="" data-page="worldwide-distribution">
                @Html.ActionLink("World Wide Distribution", MVC.Information.WorldwideDistribution(), null)
            </li>
            <li class="" data-page="distributors-wanted">
                @Html.ActionLink("Distributors Wanted", MVC.Information.DistributorsWanted(), null)
            </li>

        </ul>
    </li>
</ul>

