@model EscapeMobility.Web.Models.ProductHighlightModel
<div class="overviewBlock">
    <div data-clickable="@Url.Action(MVC.HealthCare.Details(Model.ProductID))" class="obImage">
        <img src="~/Content/images/@Model.ImageFileName" class="overviewImage">
    </div>
    <h2 data-clickable="@Url.Action(MVC.HealthCare.Details(Model.ProductID))">@Html.DisplayFor(m => m.Name)</h2>
    <p>
        @Html.DisplayFor(m => m.ShortDescription)
    </p>
    <div id="piPrice">

        <div class="price">@Html.DisplayFor(m => m.Price)</div>

    </div><div id="piPriceVAT">excl. Tax</div><div class="clear"></div>
    @if (Model.Show)
    {
        if (Model.IsDev || Model.ShowInProd)
        {
            @Html.ActionLink("More Information", MVC.HealthCare.Details(Model.ProductID), new {@class = "contentButton moreInfo"})
        }
    }
    <a href="#" class="addToQuote contentButton  addToBasket" data-productid="@Model.ProductID">Add to Quote</a>
</div>
