@{
    ViewBag.Title = "Healthcare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curbranche="healthcare">
    <h1 class="pageTitle">Healthcare</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/healthcare.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>

    <h2>Do not let a disaster be your main concern!</h2>
    <p>Emergencies in the Healthcare Sector usually involves dealing with vulnerable people, of whom require more assistance. For example: In a Hospital or Care Centre, there are not only patients, service users and employees, there are also many visitors that are present, each and every day. It may be that your visitors require assistance, as they may have mobility issues.</p>

    <p>It is therefore very important to be well prepared in the event of an emergency, for more than only patient handling.</p>

    <p>We offer a wide range of evacuation solutions and emergency response products especially designed for the Healthcare Sector. Please select the desired category from the list located to the left.</p>
    <h3>We recommend:</h3>
    <br />
    <h2 data-clickable="@Url.Action(MVC.HealthCare.EscapeChair())">Escape-Chair Comfort</h2>
    The Comfort edition combines the features of other Escape-Chairs:
    <ul>
        <li>double ergonomic back support</li>
        <li>two level operator handle</li>
        <li>padded headrest</li>
        <li>comfort seating</li>
        <li>Armests</li>
        <li>Footrest</li>
        <li>non-slip handle / lower frame</li>
        <li>enamel coating</li>
    </ul>
    <p>
        This rescue platform is unparalleled in the industry!<br />
        Achieves a wider range of versatility, comfort and specific usage in places such as senior homes,
        assisted living, hospitals and special education program schools. We recommend the Comfort edition
        for persons with mobility disabilities.
    </p>

    <h2 data-clickable="@Url.Action(MVC.HealthCare.EscapeMattress())" >Escape-Mattress® Fold</h2>

    <p>The Escape-Mattress® Fold folds into two and can be easily moved and stored.
        Once unfolded, this evacuation mattress is immediately ready for use.</p>

    <ul>
        <li>4 handles each side</li>
        <li>Towing straps at the head and foot end respectively</li>
        <li>4 body flaps / 2 per side to secure the evacuee</li>
        <li>Large foot pouch</li>
        <li>Padded headrest</li>
        <li>Length, width and thickness can be customized</li>
    </ul>

    <div class="clear"></div>
</div>