@{
    ViewBag.Title = "Emergency Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curbranche="emergency-services">
    <h1 class="pageTitle">Emergency Services</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/emergency-services.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>
    <h2>
        Because every second counts and force multiplication is key!
    </h2>
    <p>
        A life-threatening situation calls for prompt and professional assistance,
        in the right place and at the right time. Escape Mobility Company offers several
        evacuation solutions for ambulance and fire services, to transport injured persons
        more quickly to a safe location or a hospital. With safety and crisis equipment
        crafted to the highest standards Escape Mobility products are proven to be reliable,
        safe and easy to use. Disaster response, patient handling, mass-evacuation and
        dangerous evacuations become less taxing with Escape-Chairs and Stretchers.
    </p>

    <p>
        We offer a wide range of evacuation and emergency response products, especially for
        professional assistance providers. Please select from the list on the left.
    </p>

    <h3>
        We recommend:
    </h3>

    <h2 data-clickable="@Url.Action(MVC.EmergencyServices.EscapeCarryChair())">Escape-Carry Chair:</h2>
    <p>
        Full size Escape-Chair with carrying handles to enable evacuation/transport
        up the stairs or over uneven surface and debris. Various models and features
        make the Carry-Chair edition highly versatile.
    </p>

    <h2 data-clickable="@Url.Action(MVC.EmergencyServices.EscapeMattress())">Escape-Stretcher:</h2>
    <p>
        This Escape-Mattress® Stretcher can replace the standard mattress on an ambulance
        stretcher. It is primarily an evacuation device, allowing the rescue crew to evacuate
        a person via the stairs, or even with ropes attached to it, out of a building.
    </p>

    <ul>
        <li>4 Handles at each side</li>
        <li>2 Adjustable towing straps, not requiring a gurney for transport</li>
        <li>Headrest for fastening onto the stretcher or directly onto the Escape-Mattress®</li>
        <li>2 body flaps for immobilization</li>
        <li>Loops for the safety belt of the stretcher</li>
        <li>Large Foot Bag</li>
    </ul>

    <div class="clear"></div>
</div>